---
layout: page
title: Content
permalink: content.html
---

<p>Here you can find the index of all published articles, ordered by topic and inverse chronological order:</p>

{% assign arr = site.series | split: ", " %}
{% for series in arr %}
<div class="posts">
  <h2>{{ series }}</h2>
  <div class="container content">
    <ol>
    {% assign posts = site.posts | sort: post.date %}
    {% for post in posts %}
    {% if post.series == series %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    </ol>
  </div>
</div>
{% endfor %}
